{% extends "_base.html" %}
{% block content %}
<!--Non Fields Errors-->
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<div class="bg-red-400 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert"">
  <p class="font-bold">
    Error!
  </p>
  <p class="block sm:inline">
    {{ error }}
  </p>
</div>
{% endfor %}
{% endif %}
<!--Title-->
<div class="p-4 mb-4 text-white rounded-lg text-4xl font-extrabold bg-slate-700">
  <i class="fa-solid fa-user"></i>
            Open User Account
</div>
<!--Registration Form-->
<div class="w-full border rounded-lg">
  <form method="post" action="{% url 'register' %}" class="shadow-md rounded px-8 pt-6 pb-8 mb-4">
    {% csrf_token %}
    <!--Hidden Field Error-->
    {% for hidden_field in form.hidden_fields %}
    {{hidden_field.errors}}
    {% endfor %}
    <!--UserName-->
      <div class="w-full px-3 my-6">
        <label class="block uppercase tracking-wide text-black text-xs font-bold mb-2" for="{{ form.username.id_for_label }}">
          {{ form.username.label }}
        </label> 
        {{ form.username }} {% if form.username.errors %} {% for error in form.username.errors %}
        <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
          {% endfor %} {% endif %}
      </div>
      <!--Email-->
        <div class="w-full md:w-1/2 px-3 my-6">
            <label class="block uppercase tracking-wide text-black text-xs font-bold mb-2" for="{{ form.email.id_for_label }}">
                {{ form.email.label }}
            </label> {{ form.email }} {% if form.email.errors %} {% for error in form.email.errors %}
            <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
            {% endfor %} {% endif %}
        </div>
        <!--Password-->
        <div class="w-full md:w-1/2 px-3 my-6">
            <label class="block uppercase tracking-wide text-black text-xs font-bold mb-2" for="{{ form.password.id_for_label }}">
                {{ form.password.label }}
            </label> {{ form.password }} {% if form.password.errors %} {% for error in form.password.errors %}
            <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
            {% endfor %} {% endif %}
        </div>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Register
        </button>
  </form>
</div>
{% endblock content %}