{% extends "base.html" %} {% load crispy_forms_tags %} {% block title%}Post
Details{% endblock title %} {% block content %}
<div class="col-12 p-3">
      <div class="card mx-2">
        <div class="card-body">
          <img
            src="{{post.image.url}}"
            alt="{{post.title}}"
            class="card-img-top w-25"
          />
          <h1 class="card-title">{{post.title}}</h1>
          <p class="card-text">{{post.content}}</p>
          <small class="d-block"
            >Author: {{post.author.first_name}} {{post.author.last_name}}</small
          >
          <p>
            Category: {% for category in post.category.all %}
            <button class="btn btn-warning btn-sm m-2" disabled>
              {{category.name}}
            </button>
            {% endfor %}
          </p>
        </div>
      </div>
</div>
<div class="card mx-4">
  <h5 class="m-4">Total Comments : {{comments | length}}</h5>
  {% for comment in comments %}
  <div class="card-body border m-2">
    <p><strong>{{comment.name}}</strong> <small>{{comment.created_on}}</small></p>
    <p>{{comment.body}}</p>
  </div>
  {% endfor %}
</div>
<div class="card m-4">
  <h5 class="mx-4">Add Comment</h5>
  <div class="card-body">
    <form action="" method="post">
      {% csrf_token %}
      {{comment_form|crispy}}
      <button class="btn btn-warning">Submit</button>
    </form>
  </div>
</div>
{% endblock content %}
