{% extends "base.html" %}
{% load static %}
{% block title %}KFC | About{% endblock title %}
{% block favicon %}{% static "logo.png" %}{% endblock favicon %}


<!--Link CSS-->
{% block css_link %}
<link rel="stylesheet" href="{% static "about.css" %}">
{% endblock css_link %}

<!--Main Content-->
{% block content %}
<div class="bg-warning">
    <img class = "abt-img img-fluid" src="{% static "res-abt-img.jpg" %}" alt="KFC about Image">
    <div class="abt-msg container">
        <h1 class="text-title text-center mt-5 mb-5">
            <span class = "k">K</span>
            <span class = "f">F</span>
            <span class = "c">C</span>
        </h1>
        <p class="fs-4 lh-lg abt-text pb-5">
            Welcome to KFC, where every meal is a celebration of flavors, artfully crafted to tantalize your taste buds and create unforgettable dining experiences. Nestled in the heart of Dhaka, our restaurant is a haven for food enthusiasts seeking a perfect blend of exquisite cuisine, warm ambiance, and exceptional service.Join us at KFC and embark on a gastronomic journey that transcends the ordinary. We look forward to celebrating our first year with you and many more to come. Cheers to a year of delicious memories!
        </p>
    </div>
</div>
{% endblock content %}