{% extends "base.html" %}
{% block title %}Project 5 | Form{% endblock title %}
{% block content %}
<form class = "container mt-5" method= "get">
  {% csrf_token %} <!--Cross Site request forgery-->
  <div class="mb-3">
    <label for="exampleInputName" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" name = "username">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name = "email">
  </div>
  <div class="mb-3">
    <select class="form-select" aria-label="Default select example" nme = "select">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock content %}