.abt-img{
    width: 100%;
    height: 70vh;
}
.abt-text{
    text-align: justify;
}
.text-title{
    font-size: 10rem;
    font-family: 'Stylish', serif;
}
.k {
    color: #f26a02;
}

.f{
    color: #0e5d6b;
}

.c{
    color: #6d2309;
}