<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django | About</title>
        <!--BootStrap CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--Custom CSS-->
    <style>
        .nav-link, .logo{
            color: white;
            font-weight: 700;
        }
        .active-item{
            color: yellow;
        }
        .navbar-nav {
            margin: auto;
        }
    </style>
  </head>
  <body>
    <!--NavBar Start-->
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container">
            <a class="navbar-brand logo" href="/">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active-item" href="/about/">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/contact/">Contact</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <!--NavBar End-->

    <!--Template Filter Operations Start-->
    <div class="mt-5 container">
        <h3>ADD Filter</h3>
        {{ value | add:"2" }}

        <h3>ADD Slashes</h3>
        {{ add_slashes | addslashes }}

        <h3>Cap First</h3>
        {{ cap_first | capfirst }}

        <h3>Center</h3>
        {{ content_center | center:"15" }}

        <h3>Cut</h3>
        {{ cut_text | cut:" " }}

        <h3>Date</h3>
        {{ today | date:'D d M Y' }}

        <h3>DictSort</h3>
        {% for item in my_list|dictsort:"name" %}
            <h5 class = "">
                name = {{ item.name }},
                age = {{ item.age }}
            </h5>
        {% endfor %}
    
</div>
    </div>
    <!--Template Filter Operations End-->

    <!--BootStrap script-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>