{% extends "base.html" %}
{% block content %}

<div class="row ms-5 ">
    {% for i in meals %}
    <div class="col-md-3 mb-5">
        <div class="card" style="width: 18rem;">
            <img src="{{i.strMealThumb}}" class="card-img-top" alt="{{i.strMeal}}">
            <div class="card-body">
                <h5 class="card-title">{{i.strMeal}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}